APP_NAME=Real-Time Team Messenger
APP_ENV=development
APP_PORT=8000
APP_HOST=0.0.0.0
DEBUG=1

POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=project_rttm
POSTGRES_HOST=db
POSTGRES_PORT=5432
DB_ENGINE=postgresql+asyncpg

SECRET_KEY=
ALGORITHM=
ACСESS_TOKEN_EXPIRE_MINUTES=
ACСESS_TOKEN_EXPIRE_DAYS=

KAFKA_BOOTSTRAP_SERVERS=
SERVER_URL=http://127.0.0.1/

SMTP_SERVER=smtp.yandex.com
SMTP_PORT=465
SMTP_USERNAME=
SMTP_PASSWORD=
MAIL_FROM=yourmail@yandex.ru